<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a
    class="navbar-brand"
    href="https://www.ichangemycity.com/bangalore/complaints"
    target="_blank"
    ><img
      src="https://www.ichangemycity.com/theme/images/logo/i-change-my-city-162x22.png"
      alt="ICMyC"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          href="#"
          id="whatsapp"
          onclick="changeTabs(event,this.id);"
          >Whatsapp</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          id="instagram"
          onclick="changeTabs(event,this.id);"
          >Instagram</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          id="twitter"
          onclick="changeTabs(event,this.id);"
          >Twitter</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4" id="dropdown">
  <div class="row">
    <div class="text-center col-md-10">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-5 text-right">Category</h1>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <select
              class="custom-select ml-4"
              name="category"
              id="category"
              onchange="filter()"
            >
              <option value="All">All</option>
              <option value="Potholes">Potholes</option>
              <option value="Waste Management">Waste Management</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="content" style="margin-top: 3%;">
  <div class="container">
    <div class="row" id="tab-content"></div>
  </div>
</section>
